body
{
	background: #333;
}

canvas
{
	display: block;	
	margin: 30px auto 0px;
}

#gameName{
	color: #fff;
	font-family: Courier;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

#player, #enemy, #stats{
	display: block;
	margin: -500px auto 0px;
}

